<div class="footer">
    <div class="footer__logo">
        <img src="/img/logo-green.png" alt="Natours logo" />
    </div>
    <ul class="footer__nav">
        <li><a href="#">About us</a></li>
        <li><a href="#">Download apps</a></li>
        <li><a href="#">Become a guide</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
    <div class="footer__copyright">
        <p>Built while learning NodeJS, Express, MongoDB, Mongoose</p>
        <a href="https://github.com/rajatverma311201/Adventour" class="github">
            <i class="fa-brands fa-github fa-2x"></i>&nbsp; Github Link
        </a>
        <p>Designed by Jonas Schmedtmann</p>
    </div>
</div>
