<header class="header">
    <nav class="nav nav--tours">
        <a href="/" class="nav__el">All tours</a>
        <form class="nav__search">
            <button class="nav__search-btn">
                <svg>
                    <use xlink:href="img/icons.svg#icon-search"></use>
                </svg>
            </button>
            <input
                type="text"
                placeholder="Search tours"
                class="nav__search-input"
            />
        </form>
    </nav>
    <div class="header__logo">
        <img src="/img/logo-white.png" alt="Natours logo" />
    </div>
    <nav class="nav nav--user">
        <a href="#" class="nav__el">My bookings</a>

        <%if(locals.user){%>
        <a class="nav__el nav__el--logout" href="#">Log out</a>
        <a class="nav__el" href="#"
            ><img
                class="nav__user-img"
                src="/img/users/<%=locals.user.photo%>"
                alt="<%=locals.user.name%>"
            />
            <span><%=user.name.split(' ')[0]%></span>
        </a>
        <%} else{%>
        <a class="nav__el" href="/login">Log in</a>
        <a class="nav__el nav__el--cta" href="#">Sign up</a>
        <%}%>
    </nav>
</header>
