<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="shortcut icon" type="image/png" href="img/favicon.png" />

        <title>Natours | All Tours</title>
    </head>
    <body>
        <%- include('./partials/header') %>

        <div class="card-container">
            <% tours.forEach(tour=>{ %> <%-include('./partials/card', {tour}) %>
            <% }) %>
        </div>

        <%- include('./partials/footer') %>
    </body>
</html>
